@model List<MidwestDevOpsWebsite.Models.ProductModel>

@{
    ViewData["Title"] = "My Products";
    ViewBag.Page = "Product";
}

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="background-color:white; border-radius:.25em; padding:2em;">
            <h1>Products</h1>
            <hr />
            <br />
            <br />

            @foreach (var m in Model) {
                <div class="row">
                    <div class="showOnSmall col-md-2">
                        <h2>@m.ProductName</h2>
                        <hr />
                    </div>
                    <div class="col-md-6">
                        <img src="@m.ProductMainPicture" alt="@m.ProductName" class="img-fluid"/>
                    </div>
                    <div class="col-md-6">
                        <h2 class="hideOnSmall">@m.ProductName</h2>
                        <h3>@m.ShortDescription</h3>
                        <div style="margin-top: 5em;">
                            <button class="btn btn-primary float-right" type="submit" style="position:absolute; bottom:0; right:0" onclick="window.location = '/Product/View/@m.ProductID'">View @m.ProductName</button>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="col-md-1"></div>
    </div>
</div>


@section Scripts {
    <script>
        function SubmitUserInfoForm() {
            SubmitForm('#frmUserInfo', '/User/UserInfo', 'Post', '#UserInfoValidation', false, 'NULL');
        }

        function SubmitSecurityForm() {
            SubmitForm('#frmSecurity', '/User/AccountSecurity', 'Post', '#UserSecurityValidation', true, 'NULL');
        }

        function ReloadPage() {
            window.location = window.location;
        }
    </script>
}